<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99962895704-682b76is35rofahbfaojrrs5s2t9prku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99962895704-682b76is35rofahbfaojrrs5s2t9prku</string>
	<key>API_KEY</key>
	<string>AIzaSyDUCGfvirziZoeujdQI0QfNla2VBzPzdho</string>
	<key>GCM_SENDER_ID</key>
	<string>99962895704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crpt</string>
	<key>PROJECT_ID</key>
	<string>crpt-3a447</string>
	<key>STORAGE_BUCKET</key>
	<string>crpt-3a447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99962895704:ios:6bb4fba6171a4fb69bb92d</string>
</dict>
</plist>